.carousel-indicators li{
	width: 0.8rem;height: 0.8rem;
	border-radius: 50%;
	background: #fff;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}
.carousel-indicators li.active{
	background-color: #0AA1ED;
}
.carousel-control-next,.carousel-control-prev{
	width: 4%;height: 20%;
	top: 40%;
	border-radius: 0.25rem;
	background: #aaa;
}
.carousel-control-next{right: 0.3rem;}
.carousel-control-prev{left: 0.3rem;}